<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.liuxv.databinding"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".DataBindingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.DesignDemo">
        <activity
            android:name=".activity.ExploreActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HeroListActivity"
            android:theme="@style/Theme.DesignDemo"
            />
        <activity
            android:name=".activity.HeroDetailActivity"
            android:theme="@style/Theme.DesignDemo"
            />
    </application>

</manifest>
